* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Grading {
  width: 700px;
  height: 400px;

  margin-inline: auto;
  margin-top: 150px;
  
}
.container2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.boder1 {
  width: 100%;
}
.btn1 {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(43, 43, 49);
}
.boder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  
}
.boder2 {
  width: 60%;
  text-align: center;
  border: 1px solid gainsboro;
  padding: 25px 25px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
}
