* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(-45deg, #6a11cb, #2575fc, #6dd5ed, #cc2b5e);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.Grading {
  width: 700px;
  height: 500px;

  margin-inline: auto;
  
}
.container2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.boder1 {
  width: 100%;
}
.btn1 {
  padding: 5px 19px;
  border: none;
  border-radius: 10px;
  color: #6dd5ed;
  /* background-color: #cc2b5e; */
}
.btn1:hover {
  color: #2575fc;
}
.boder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.boder2 {
  text-align: center;
  border: 1px solid gainsboro;
  padding: 25px 25px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (min-width:768) {
  .Grading{
    margin-top: 150px;
  }
}